.App {
  text-align: center;
  width: 400px;
  height: 300px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.command-action-keys-select {
  margin: 0rem !important;
  width: 25vw !important;
  padding: 0.25rem !important;
  height: 7vh;
  font-size: 16px;
}

.settings-edit-section {
  float: right
}

.command-action-icon-settings-edit {
  cursor: pointer;
  margin-left: 0.4rem !important;
}

.command-row-container {
  overflow: auto;
  height: 10vh;
}

.user-commands-rows-container {
  margin-top: 2.0rem;
  width: 70vw;
}

.weak-forms-label{
  margin-top: 1rem;
}

.command-action-keys-section {
  float:right;
  font-size: 17px;
}

.command-action-name-section {
  font-size: 17px;
  float:left;
}

.keyboard-key {
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgb(0 0 0 / 10%);
  background-color: #f9f9f9;
  background-image: linear-gradient(to bottom,#eee,#f9f9f9,#eee);
  color: #000;
  padding: 0.1em 0.3em;
  margin-left: 0.5em;
  font-family: inherit;
  font-size: 0.85em;
  white-space: nowrap;
}